.agentCards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
    margin-top: 20px;
  }
  
  .card-new {
    background: linear-gradient(to right, #6689a9, #c7617b) !important;
    backdrop-filter: saturate(200%) blur(25px);
    height: 350px;
    padding: 10px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    margin-left:20px ;
  }
  
  
  @media (max-width: 768px) {
    .card-new {
      flex-basis: calc(50% - 40px);
    }
  }
  
  .custom-navbar {
    background-color: #98FB98;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px; 
  }
  
  .navbar-heading {
    font-size: 24px;
    font-weight: bold;
    color: black;
    margin: 0;
    flex-grow: 1; 
    display: flex;
    justify-content: center; 
    text-align: center; 
    margin-right: 15%;
  }
    
  
  .card-title-new {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #fff;
  }
  
  .card-text-new {
    margin-bottom: 5px;
    color: black;
  }
  
  .card-1 {
    align-self: flex-start;
    margin-top: 20px;
    margin-left: 0;
  }
  
  .change-status-btn-new {
    background-color: #98FB98;
    color: ccc;
    border: none;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .change-status-btn-new:hover {
    background-color: #4caf50;
  }
  
  .card-body-new {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    text-align: center;
  }
  